@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
  border: dotted 3px #93b2b3;
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: 100vh;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
}
a{
  color: #222222;
}
a:hover{
  color: #34beb8;
}
.header {
  font-weight: 900;
  font-size: 40px;
}
.sub-header {
  font-weight: 900;
  color: #d7dbdb;
}

.wrap {
  position: absolute;
  bottom: 10px;
  font-size: 15px;
  right: auto;
  background-color: rgb(216, 226, 226);
  color: #222222;
}

.wrap-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: crimson;
    color: #ffffff;
  }